@model Analisis_Proyectos.factura

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>factura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IVA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IVA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descuento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descuento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modoPago.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modoPago.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.numFactura }) |
    @Html.ActionLink("Back to List", "Index")
</p>
