@model Analisis_Proyectos.modoPago

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>modoPago</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.otroDetalles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.otroDetalles)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.numPago }) |
    @Html.ActionLink("Back to List", "Index")
</p>
